# Переименуйте в *.txt. Артикулы или ссылки на товары, по одному в строке.
# Например: товары JOTO (для калибровки) и прямых конкурентов.
MP002XM1RMM3
https://www.lamoda.ru/p/rtlaey634001/shoes-adidasoriginals-kedy/
